---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Home Page";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Emperor Numerius Dev</h1>
    <span class="badge">Digital Craftsman (Developer)</span>
    <h2>About</h2>
    <p>
        Hi my name is Krishna Meda!!! On most sites I go by Emperor Numerius
        I'm a 17 year old High schooler from the state of New Mexico who loves programming
        and Web developement. I have been programming since i was 12 and dont plan on stopping.
        Currently I am part of the First Robotics Team 8512 the Manzano Monarchs. I am the lead 
        programmer and am on the recruitment team, the mechanical team and the drive team as our 
        Human Player. Last year I also took on the role of the Safety officer. I also Mentor a 
        First Tech Challenge Team, 10334 Geared Up. I helped them build their robot and test it.
        I am also on the dev team for Purple Bubble a privacy focused messeging alternative to 
        Imessage and Google Chat. 
    </p>
    <p>
        In my freetime I play Minecraft, read books, and watch Youtube.
        I enjoy building and am awful at both redstone and PVP. I post videos on my Gaming channel.
        Currently I am watching
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="Python" src="https://github.com/devicons/devicon/blob/v2.16.0/icons/python/python-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CoffeeScript" src="https://github.com/devicons/devicon/blob/v2.16.0/icons/coffeescript/coffeescript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Java" src="https://github.com/devicons/devicon/blob/v2.16.0/icons/java/java-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Astro" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        Minecraft, Gamedev, Web dev, AI, Airplanes, Engineering, 3d Modeling, Youtube,
        Python, LEGO, Architechture, Rocketry, Hardware Design, History, Roman Empire,
        Tech, 
    </p>
</Layout>

